<ion-view view-title="Oh Não">

  <ion-content>

    <div class="card padding">

      <pre>
        Poxa vida! Não sabemos o que fazer com essa solicitação! E agora?
        Recomendo que entre em contato com os admnistradores, mas de qualquer forma já registrei aqui o problema para que eles analisem o que houve.
      </pre>

    </div>

  </ion-content>

</ion-view>