
<ion-view view-title="Home">

  <ion-content>

    <div class="card card-stats">
      <br>
      <div class="col-xs-4" ng-repeat="_stat in stats">
        <div class="alert alert-{{_stat.class}}">
          <h4> <i class="fa fa-pie-chart"></i> {{_stat.title}} </h4>
          <div class="stats-container">
            <div class="stats" ng-repeat="_data in _stat.data">
              <label>{{_data.label}}</label> <value>{{_data.value}}</value>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card card-timeline padding">

      <ul class="timeline" ng-repeat="_timeline in timeline">

        <li class="timeline-mark">
          <div class="timeline-badge primary">
            <i class="fa fa-calendar"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p>
                <small class="text-muted"><i class="fa fa-calendar-check-o"></i> {{_timeline.label}}</small>
              </p>
            </div>
            <div class="timeline-body">
              <p>{{_timeline.info}}</p>
            </div>
          </div>
        <li>

        <li class="timeline-inverted" ng-repeat="_data in _timeline.data">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"> <i class="{{_data.icon}}"></i> {{_data.project}} <small class="text-muted"><i class="fa fa-user"></i> {{_data.time}} <i>{{strings.by}}</i> {{_data.who}}</small></h4>
            </div>
            <div class="timeline-body">
              {{_data.content}}
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-cogs"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">{{strings.details}}</a></li>
                  <li class="divider"></li>
                  <li><a href="#">{{strings.interact}}</a></li>
                </ul>
              </div> 
            </div>
          </div>
        </li>

      </ul>

    </div>

  </ion-content>
</ion-view>
