<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable" align-title="left">

      <ion-nav-back-button side="left" class="no-text"></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left">
          <i class="ion-grid"></i>
          <!--<i class="fa fa-mail-reply"></i>-->
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="target" class=""></ion-nav-view>
    
    <div class="app-backdrop"></div>

  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content class="stable-bg has-expanded-header">

      <ion-list ng-controller="AppMenuCtrl">
        <ion-item class="home item ng-binding" nav-clear menu-close ng-click="open('app.main.home')">
          <i class="fa fa-home"></i> &nbsp; {{lang.home.label}}
        </ion-item>

        <div ng-repeat="_menu in menus" class="side-menu-dropdown" ng-class="_menu.open ? 'side-menu-dropdown-open' : ''">
          <div class="menu-title" ng-click="_menu.open = !_menu.open"><label>{{_menu.name}}</label> <i ng-class="_menu.open ? 'fa-angle-up' : 'fa-angle-down'" class="fa"></i></div>
          <ion-item title="{{_item.name}}" class="{{_item.separator === '1' ? 'separator' : ''}} item ng-binding" nav-clear menu-close ng-repeat="_item in _menu.items" ng-click="open('{{_item.link}}')">
            <i class="{{_item.icon ? _item.icon : 'fa fa-desktop'}}"></i> &nbsp; {{_item.name}}
          </ion-item>
        </div>

        <ion-item class="logout item ng-binding" nav-clear menu-close ng-click="logout()">
          <i class="fa fa-power-off"></i> &nbsp; {{lang.logout.label}}
        </ion-item>
        <!--<ion-item nav-clear menu-close ng-click="exit()">-->
        <!--  {{lang.exit.label}}-->
        <!--</ion-item>-->
      </ion-list>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>
