<ion-view view-title="Oh Não">

  <ion-content>

    <div class="card padding">

      <p>
        Você não tem autorização para acessar esta área. Faça login e tente novamente!
      </p>

    </div>

  </ion-content>

</ion-view>