
body {
  /*background-color: rgb(238, 238, 238);*/
  background-color: #fcfcfc;
}

a.navbar-brand-theme-default {
  margin-top: -10px;
}

a.navbar-brand-theme-default img {
  height: 40px;
}

textarea, textarea.form-control, input.form-control, input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  padding: 5px 10px;
  transition: box-shadow 0.6s;
  border-radius: 2px;
  /*box-shadow: inset -1px -1px 4px 1px rgba(0,0,0,0.1);*/
  /*border-bottom: 1px solid rgba(0,0,0,0.25)*/
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
  box-shadow: inset 0 -2px 0 #2196f3, 0 1px 4px 1px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  border-radius: 1px;
}