
.page-title {
  margin: 15px 0 0 0;
}

.page-tip {
  text-align: right;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
  padding: 5px 10px 10px 10px;
  border-radius: 2px;
  margin: 0 0 25px 0;
  background-color: #fff;
}

.form-box {
  padding: 10px 15px 20px;
  border: 1px solid #DDD;
  background: #F5F5F5;
  margin: 0 0 20px 0;
  border-radius: 2px;
  background-color: #fff;
}

.btn {
  border-radius: 2px;
  outline: none;
}

.breadcrumb {
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
  background-color: #fff;
}
