<ion-view view-title="{{operation.label}}">

  <ion-content>

    <div class="card padding">

      <div class="toolbar-buttons">
        <span ng-repeat="_operation in operation.actions.toolbar">
          <button class="btn btn-{{_operation.className}}"  ng-click="resolve(_operation.id, collection)">
            {{_operation.label}}
          </button>
        </span>
      </div>

    </div>

    <div ng-repeat="_tab in operation.manager" class="card padding">

      <legend ng-show="_tab.label">{{_tab.label}}</legend>

      <div ng-repeat="_line in _tab.lines">

        <div ng-repeat="_field in _line.fields" class="col-md-{{(12 / _line.fields.length)}} col-sm-{{(12 / _line.fields.length)}}">

          <div class="form-group" ng-hide="_field.hidden">

            <form-field field="_field" collection="collection" autocompletition="autocompletition" model="model" settings="settings"
            field-class="form-control" label-class="label-form-control" box-class="input-box" 
            radio-class="radio-inline" radio-fieldset-class="fieldset-radio"
            checkbox-class="form-checkbox form-checkbox-inline" checkbox-fieldset-class="inline-group"
            items-remove-button-class="btn btn-primary" items-remove-icon-class="fa fa-minus-square-o" 
            items-add-button-class="btn btn-default" items-add-icon-class="fa fa-plus-square-o">[replaced]</form-field>

          </div>
  
        </div>

      </div>

    </div>

    <div class="card padding">

      <div class="toolbar-buttons">
        <span ng-repeat="_operation in operation.actions.toolbar">
          <button class="btn btn-{{_operation.className}}"  ng-click="resolve(_operation.id, collection)">
            {{_operation.label}}
          </button>
        </span>
      </div>

    </div>
    
    <div class="debug">
      {{collection}}
    </div>

  </ion-content>
</ion-view>
