
body {
  background-color: #e5e5e5;
}

legend {
  display: block;
  padding: 0 0 5px 0;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  border-style: solid;
  color: #444;
  font-size: 16px;
  line-height: inherit;
  margin: 0 0 20px 0;
  color: #777;
}

label, input, button, select, textarea {
  font-size: 13px;
}

.alert {
  box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.2);
}

ion-nav-view {
  /*background-color: #E0E0E0;*/
}

.button {
  text-transform: none;
}


.view-container {
  height: calc(100% - 25px);
  min-width: 655px;
}

button.button.back-button.buttons.no-text.button-clear.header-item {
  position: absolute;
  margin: 0 0 0 35px;
}

button.button.back-button.buttons.no-text.button-clear.header-item {
  /*margin: 0 0 0 50px;*/
}

.left-buttons button.button.button-icon.button-clear {
  /*margin: 0 0 0 -95px;*/
}

ion-header-bar.bar-stable.bar.bar-header {
  background-color: #fff;
}

.btn {
  text-transform: none;
  outline: none !important;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 0 -4px 0;
}

.input-box {
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
}

button.button.back-button.buttons.no-text.button-clear.header-item {
  color: #515151;
}

button.button.button-icon.button-clear i {
  transition: transform .8s;
  transform: rotate(180deg);
  color: #515151;
}

.menu-open button.button.button-icon.button-clear i {
  transform: rotate(-360deg);
  /*transform: rotate(540deg);*/
}



ion-side-menu-content ion-content.scroll-content.ionic-scroll, ion-view.pane {
  background: #e5e5e5 !important;
}

ion-side-menu ion-content.scroll-content.ionic-scroll, ion-side-menu-content ion-content.scroll-content.ionic-scroll {
  overflow: scroll;
  overflow-x: hidden;
}


ion-side-menu {
  transition: width .3s;
  background-color: #e5e5e5 !important;
}
ion-side-menu ion-content {
  height: calc(100% - 68px);
  /*background: #e5e5e5 !important;*/
}
ion-side-menu i.fa {
  width: 16px;
  height: 16px;
  text-align: center;
}
ion-side-menu ion-content.scroll-content.ionic-scroll {
  height: calc(100% - 50px);
}
ion-side-menu > ion-content::-webkit-scrollbar {
  width: 6px;
  background-color: #f9f9f9;
}
ion-side-menu > ion-content::-webkit-scrollbar-thumb {
  background-color: #eee;
}
ion-side-menu ion-content.scroll-content {
  background-color: #fff !important;
  margin: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.3);
}
.menu-compact ion-side-menu ion-content.scroll-content {
  margin: 0 3px;
}

.has-expanded-header {
  top: 0 !important;
}

.navbar-default .navbar-nav>li>a {
  color: #515151;
}


.template-list ion-item.item {
  padding: 0;
}
.template-list .item-title {
  padding: 10px 8px;
  font-size: 18px;
  color: #707070;
}
.template-list .item-subtitle {
  padding: 0 8px;
  font-size: 14px;
  color: #636363;
}
.template-list .item-content {
  padding: 6px 8px 8px 8px;
  font-size: 12px;
  color: #4b4b4b;
}
.template-list .item-action {
  border-top: 1px solid #ddd;
  padding: 10px;
}
.template-list .item-row {
  float: left;
  margin: 0 0 0 10px;
  padding: 7px 0;
}
.template-list .row-column {
  float: left;
  margin: 0 20px 0 0;
  flex: 1;
}


.list.list-left-editing .item-content {
  margin-left: 25px;
}

.item-delete .button.icon {
  padding: 0 15px;
}


.form-manager-line {
  margin: 0 -10px;
}

fieldset {
  margin: 0 2px;
  padding: 2px;
  border: none; 
}

.card {
  border-radius: 1px !important;
}
.padding {
  padding: 8px !important;
}

.card.padding.button-bar {
  overflow: visible;
  height: 55px;
  width: calc(100% - 15px);
  margin-bottom: 0;
}
.card.padding.button-bar .dropdown-menu {
  border-radius: 0 0 2px 2px;
  /*border: 1px solid #eee;*/
}






.label-form-control {
  display: block;
  color: #3f3f3f;
  font-weight: bold;
}

.fieldset-radio {
  padding: 5px 0 0 0;
  margin: 0 0 0 -15px;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  padding: 5px 10px;
  transition: box-shadow 0.6s;
  border-radius: 2px;
  /*box-shadow: inset -1px -1px 4px 1px rgba(0,0,0,0.1);*/
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
  box-shadow: inset 0 -2px 0 #2196f3, 0 1px 4px 1px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  border-radius: 1px;
}

input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
  width: 24px;
  height: 24px;
  top: -6px;
  left: -3px;
}


body.menu-compact ion-side-menu {
  width: 55px !important;
  transition: width .3s;
}
body.menu-compact ion-side-menu ion-item i {
  /*width: 30px;*/
}
body.menu-compact ion-side-menu-content.menu-content.pane {
  width: calc(100% - 55px);
  transform: translate3d(0%, 0px, 0px) !important;
  left: 55px;
  transition: left .3s;
}
body.menu-compact .menu-compact-toggle {
  width: 55px;
  transition: width .3s;
}
body.menu-compact button.button.button-icon.button-clear {
  display: none;
}
.menu-compact-toggle {
  position: fixed;
  transition: width .3s;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1000;
  text-align: center;
  cursor: pointer;
  background-color: #c0c0c0;
  width: 275px;
}
.menu-compact-toggle i {
  transition: transform .3s;
}
body.menu-compact .menu-compact-toggle i {
  transform: rotate(540deg);
}


@media (min-width: 999px) {

  ion-side-menu-content.menu-content.pane {
    width: calc(100% - 275px);
    transform: translate3d(0%, 0px, 0px) !important;
    left: 275px;
    transition: left .3s;
  }

  button.button.button-icon.button-clear {
    display: none;
  }
  
  button.button.back-button.buttons.no-text.button-clear.header-item {
    position: absolute;
    margin: 0;
  }
}

@media (max-width: 999px) {

  body:not(.menu-compact) .menu-compact-toggle {
    display: none;
  }

  .menu-open .app-backdrop {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    z-index: 8;
    opacity: 0.6;
  }
}





textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  font-size: 13px;
}

/* - Table Better - */

/* base */

.better-wrapper {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.better-wrapper .pinned, .better-wrapper .data {
  border-color: #DDDDDD;
  border-style: solid;

  overflow-x:scroll;
  overflow-y:visible;
}

.better-wrapper .pinned {
  border-width: 1px 0 1px 1px;
  width: 280px;
  float: left;

  position: absolute;
  box-shadow: 3px 0 6px 0px rgba(0,0,0,0.06);
}

.better-wrapper .data {
  border-width: 1px 1px 1px 0;
  width: calc(100% - 280px);
  float: right;
}

table.better {
  border-collapse: collapse;
  font-size: 12px;

  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
}

table.better tr:hover {
  background-color: #eee;
}

table.better th, table.better td {
  border-style: solid;
  box-sizing: border-box;

  padding: 4px 16px 0;
  vertical-align: middle;
  height: 48px;
}

table.better th {
  border-color: #DDDDDD;
  border-width: 0  0 1px 0;
  background-color: #f0f0f0;
  font-weight: bold;
}

table.better td {
  border-color: #f0f0f0;
  border-width: 1px 0 0 0;
  background-color: #ffffff;
  padding: 4px;
}


/* hacks */


table.better .better-hide {
  display: none;
}

table.better > tbody > tr:first-child > td {
  box-shadow: inset 0px 6px 6px -6px rgba(0,0,0,0.3);
}

/* checked */
table.better th.checked, table.better td.checked {
  padding: 0;
  text-align: center;
}
table.better th.checked div, table.better td.checked div {
  width: 30px;
  text-align: center;
}

/* counter */
table.better th.counter, table.better td.counter {
  padding: 0;
}
table.better th.counter div, table.better td.counter div {
  width: 40px;
  overflow: hidden;
  padding: 0;
}

/* options */
table.better th.options, table.better td.options {
  padding: 0;
}
table.better th.options div, table.better td.options div {
  width: 178px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
table.better td.options div {
  height: 46px;
  padding: 9px 0;
}

/* options */
table.better th.reference, table.better td.reference {
  padding: 0;
}
table.better th.reference div, table.better td.reference div {
  width: 70px;
  overflow: hidden;
  padding: 0;
}

/* data */
table.better th.field, table.better td.field {
  text-align: left;
  padding: 0 10px;
}
table.better td.field input[type="text"] {
  max-width: 400px;
  min-width: 150px;
  width: 100%;
  background-color: transparent; 
  border: none; 
  cursor: text;
  box-shadow: none;
  font-size: 12px;
  padding: 0;
}

table.better .formatter i {
  font-size: 18px;
  color: #515151;
}

table.better .btn {
  padding: 3px 10px;
}



/* pagination */

.pagination {
  margin: 0;
  font-size: 11px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.pagination .pagination-page {
  padding: 0;
}

.pagination > li > a, .pagination > li > span {
  padding: 6px 12px;
}

.pagination-page input {
  border: none;
  position: relative;
  display: inherit;
  width: 40px;
  background: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-align: center;
  font-size: 12px;
  height: 32px;
  cursor: text;
}

.pagination-info {
  float: right;
  padding: 10px 0;
  color: #515151;
  font-size: 12px;
}


.web-left {
  float: left;
  margin-right: 0;
  transition: width .3s;
  width: calc(100% - 15px);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
}
.web-row-selected {
  background-color: rgba(33, 150, 243, 0.2);
}
.right-open .web-left {
  width: calc(100% - 325px);
}
.web-right {
  /*padding: 2px 8px;*/
  /*width: 30%;*/
  width: 0;
  margin-left: 0;
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width .3s;
}
.web-right * {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.right-open .web-right {
  width: 300px;
}
.web-right span {
  cursor: pointer;
  margin: 8px;
  color: #AE4246;
  font-size: 20px;
  position: absolute;
  right: 0;
  font-weight: bold;
}
.web-right .right-title {
  font-weight: bold;
  display: block;
  clear: both;
  padding: 0 8px 0 8px;
}
.web-right .right-value {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  padding: 5px 12px;
  margin: 0 0 6px 0;
}
.web-right-content {
  padding: 15px 0;
}
.web-right-line {
  min-width: 250px;
}


.web-row {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #dddddd;
  padding: 8px;
  clear: both;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-left: 4px solid transparent;
}
.web-row.web-row-selected {
  background-color: #FFFFCC;
  border-left: 4px solid #2196F3;
}
.web-row:hover {
  background-color: #FFFFCC;
  -webkit-transition: background-color .4s linear;
  -moz-transition: background-color .4s linear;
  -o-transition: background-color .4s linear;
  -ms-transition: background-color .4s linear;
  transition: background-color .4s linear;
}
.web-row, .web-row .data-checkbox, .web-row .data-fields, .web-row .data-field-icon, .web-row .data-field-info {
  float: left;
}
.web-row .data-fields {
  height: 42px;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dddddd;
}
.right-open .web-row .data-fields.field-in-right {
  cursor: -webkit-zoom-out;
}
.web-row .data-field-icon {
  margin: 0 10px;
}
.web-row .data-field-info, .web-row .data-field-info a {
  margin: 0 5px;
  font-size: 13px
}
.web-row .data-field-info span.field-description {
  font-weight: bold;
  font-size: 14px
}
.web-row .data-field-info .fragment {
  float: left;
  margin: 0 8px 0 0;
  max-width: 180px;
  height: 28px;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.web-row .data-field-info .fragment:first-child {
  /*max-width: 180px;*/
  /*width: 180px;*/
}
.web-row .data-field-info .fragment-divider {
  float: left;
  height: 20px;
  margin: 5px 5px 0 5px;
  max-width: 180px;
}
.web-row .data-checkbox input[type="checkbox"] {
  margin: 10px 0 0 0;
}
.web-row .data-field-icon, .data-field-link {
  color: #2196F3;
}
.data-field-link {
  cursor: pointer;
}
.data-field-link img {
  max-height: 40px;
}
.web-row .data-options {
  float: right;
  margin: 3px 0 0 0;
}
.web-row .data-options, .web-row .data-checkbox input[type=checkbox] {
  opacity: .4;
}
.web-row .data-checkbox input[type=checkbox]:checked {
  opacity: 1;
}
.web-row .data-options .btn {
  padding: 4px 8px;
}
.web-row:hover .data-options, .web-row:hover .data-checkbox input {
  opacity: 1;
}
.web-footer {
  position: relative;
  clear: both;
}



.web-popup-backdrop.web-popup-open {
  display: block;
}
.web-popup-backdrop {
  position: absolute;
  z-index: 100;
  background-color: rgba(0,0,0,0.1);
  top: 0;
  margin: -8px;
  padding: 20px;
  width: calc(100% + 5px);
  /*height: calc(100% + 50px);*/
  display: none;
}
.web-popup-content {
  position: absolute;
  z-index: 101;
  width: 90%;
  margin: 60px 0 0 5%;
  background-color: #fff;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #aaa #aaa #ccc;
  border-radius: 3px;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
}
.web-popup-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #515151;
}
.web-popup-title span {
  cursor: pointer;
  color: #AE4246;
  font-size: 20px;
  float: right;
  font-weight: bold;
}



.notification-area {
  position: absolute;
  z-index: 1000;
  right: 0;
}
.notification-area .alert {
  padding: 10px 30px 15px 20px;
  font-size: 13px;
  margin: 5px;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.6);
  border-radius: 3px;
}
.notification-area .alert.alert-default {
  background-color: #323232;
  color: #eeeeee;
}
.alert-dismissable .close, .alert-dismissible .close {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  float: right;
}



.input-search {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAMFBMVEUAAACfo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6Ofo6M5cfzmAAAAD3RSTlMAECAwQFBggI+fr7/P3+8PqIayAAAAZElEQVR42l2OWw7AIAgEUVFLVfb+t60KjYnzx7A8aJJeTCSSU+AUqzOglbkqkFcdFD3sQcXwAbYoW6SikzNQt2i/aCbuRLYdvs28pnPF/3iYBbDO+fSYKAoMyWrmkJah29Bl5AMsKQW38niNhQAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 97%;
}


table.table-items {
  border-collapse: collapse;
}
table.table-items th, table.table-items td {
  vertical-align: top;
  padding: 4px 8px;
  font-size: 12px;
}
table.table-items button {
  padding: 5px 12px;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #777777;
  background-color: #e5e5e5;
  border-color: #ddd;
}



ion-side-menu ion-item.item.logout, .side-menu-dropdown {
  border-top: 1px solid #e0e0e0;
}
ion-side-menu ion-item.item.separator {
  border-top: 1px solid #f0f0f0;
}
ion-side-menu ion-item:hover {
  /*text-decoration: underline;*/
  font-weight: bold;
}
.side-menu-dropdown {
  max-height: 52px;
  overflow: hidden;
  cursor: pointer;
  transition: max-height .3s;
  padding: 0 10px;
}
.side-menu-dropdown.side-menu-dropdown-open {
  max-height: 800px;
  background-color: #f9f9f9;
}
.side-menu-dropdown .menu-title label, .side-menu-dropdown .menu-title i {
  color: #515151;
  cursor: pointer;
}
.side-menu-dropdown .menu-title label {
  padding: 8px;
  margin: 8px 0;
  font-size: 14px;
  transition: margin .3s; 
}
.side-menu-dropdown .menu-title i {
  float: right;
  margin: 16px 0
}
.side-menu-dropdown.side-menu-dropdown-open .menu-title label { 
  color: #aaa;
  font-size: small;
  margin: 0 0 0 -4px;
}
.menu-compact .side-menu-dropdown .menu-title label, .menu-compact .side-menu-dropdown .menu-title i {
  display: none;
}
.menu-compact .side-menu-dropdown {
  padding: 0;
  max-height: inherit;
  overflow: auto;
  background-color: #fff;
}


